<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleExecutable</key>
  <string>CODENAME</string>
  <key>CFBundleIdentifier</key>
  <string>dev.CODENAME.app</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>CODENAME</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>__VERSION__</string>
  <key>CFBundleVersion</key>
  <string>__BUILD__</string>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.games</string>
  <key>LSMinimumSystemVersion</key>
  <string>15.0</string>
  <key>NSPrincipalClass</key>
  <string>NSApplication</string>
  <key>SUFeedURL</key>
  <string>https://lonkins.github.io/CODENAME/appcast.xml</string>
  <key>SUPublicEDKey</key>
  <string>vFATVpj4MGtNQdBaWPEjiVc7RbJW1qgpfgm2N9lqIpg=</string>
  <key>SUEnableDownloaderService</key>
  <true/>
  <key>SUEnableInstallerLauncherService</key>
  <true/>
  <key>NSHumanReadableCopyright</key>
  <string>GPL-3.0-or-later</string>
</dict>
</plist>
